@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #f0f0f0;
}

.nav {
    width: auto;
}

.nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;

    padding: 0.75em;

    font-weight: 500;
    font-size: 1.4em;
    text-transform: uppercase;

    list-style: none;

    background-color: #202022;
}

.nav-text {
    color: #fff;
    text-decoration: none;
}

.nav ul li a {
    color: #fff;
    text-decoration: none;
}

.nav ul li {
    transition: transform 0.4s ease;
}

.nav ul li:hover {
    transform: translateY(-2px);
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 2em;
}

.home-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 4em;
    font-size: 1.2em;

    text-align: center;
}

.home-text h1 {
    font-size: 1.4;
    margin-bottom: 0.5em;
}

.home-img-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.6em;
}

.home-img {
    max-width: 320px;

    box-shadow: 0.8px 0.8px 1px 0.8px #00000032;

    transition: scale 0.25s ease;
}

.home-img:hover {
    scale: 1.08;
}

/* Fonts */
.pages-txt {
    max-width: 800px;
}

@media only screen and (max-width: 600px) {
    .home-text {
        padding: 0.5em;
    }

    .video-box iframe {
        height: 200px;
        width: 320px;
    }
}

#footer {
    text-align: center;
}

#copy {
    text-align: center;
    font-size: 1.08em;
    font-weight: 500;
}
