@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    /* font-family: "Poppins", sans-serif; */
}

body {
    overflow: hidden;
}

/* Home Page */

.home-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 2.2em;
}

.home-text {
    /* background-color: #161616; */
    color: #161616;

    text-align: center;
    font-size: 1.5em;

    padding: 0.75em 1.6em;
}

.home-games {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2.2em;

    text-align: center;
    font-size: 1.2em;
    line-height: 1.4em;
}

.home-franchise {
    padding: 0.75em;

    background-color: #16161610;
    border-radius: 0.5em;
    color: #161616;
}

.home-franchise-txt {
    /* font-family: "Bebas Neue", cursive; */
    /* font-family: Arial, Helvetica, sans-serif; */
    text-transform: uppercase;
    font-weight: 500;

    margin-bottom: 0.5em;
}

.home-games-box {
    list-style: none;
}

/* Dark Souls Page */

.games-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 2.5em;
}

.game-title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.5em;

    font-size: 2em;
    text-transform: uppercase;
}

.game-title img {
    margin-top: 0.3em;
    width: 38px;
}

.game-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1em;

    padding: 0.75em;
}

.image-box img {
    image-rendering: crisp-edges;

    box-shadow: 0.8px 0.8px 2px 0 #00000031;

    max-width: 300px;

    transition: transform 0.2s ease, scale 0.5s ease;
}

.image-box img:hover {
    transform: translateY(-16px);
    scale: 1.08;
    cursor: pointer;
}

.details-container {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-grow: 1;
    gap: 2.5em;

    margin-top: 15em;
}

.image-box-details img {
    image-rendering: crisp-edges;

    box-shadow: 0.8px 0.8px 2px 0 #00000031;

    max-width: 300px;

    transition: transform 0.2s ease, scale 0.5s ease;
}

.image-box-details img:hover {
    transform: translateY(-16px);
    scale: 1.08;
}

.game-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    max-width: 500px;

    padding: 0.75em;
}

.details-article {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.game-title-details {
    font-size: 2em;
    text-transform: uppercase;
}

.game-text-details {
    text-align: justify;
    font-size: 1.2em;
}

.price {
    color: #099f09;
    font-size: 1.5em;
}

.game-details button {
    border: none;
    background-color: #161616;
    color: #fff;
    width: 100%;
    padding: 0.75em;

    border-radius: 0.5em;

    font-size: 1.5em;

    transition: background-color 0.6s ease;
}

.game-details button:hover {
    background-color: #323232;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    body {
        overflow: auto;
    }

    .details-container {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        gap: 2.5em;

        margin-top: 4em;
    }

    .game-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2em;
        max-width: 500px;

        padding: 1.2em;
    }
}
